:root
{
    --input-background: #d9d9d9;
    --txt-color-white: white
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

h1
{
    width: 100%;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 2vh;
}

section
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-top: 4vh;
    flex-wrap: wrap;
}

.wrap-input
{
    display: flex;
    flex-direction: column;
}

input
{
    border-radius: 999px;
    width: 300px;
    height: 50px;
    border: none;
    background-color: var(--input-background);
    padding-left: 20px;
}

label
{
    padding-left: 20px;
    margin-bottom: 1vh;
}

.wrap-btn
{
    width: 100%;
    text-align: center;
    margin-top: 4vh;
}

.btn
{
    background-color: rgb(19, 53, 19);
    color: var(--txt-color-white);
    padding: 10px 30px;
    border-radius: 999px;
    border: none;
}

.btn:hover
{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 200ms linear;
    border: none;
    border: 2px solid green;
    font-weight: bold;
}

#tabela
{
    background-color: gray;
    width: 80%;
    text-align: left;

}

.wrap-table
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
}

thead
{
    background-color: black;
    color: white;
}

@media (width < 300px)
{
    input 
    {
        width: 200px;
        height: 40px;
    }
}